<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">Experience</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-09T2017-03">
                        <span>Sep <strong class="text-upper">2016</strong> - Mar <strong>2017</strong></span>
                    </time>
                    <h3>Junior visiting scholar</h3>
                    <span class="education-company">University of Texas Southwestern Medical Center</span>
                    <p>Investigate the structure of EF hand domain of the two-pore channel AtTPC1</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2016-07T2016-09">
                        <span>Jul <strong class="text-upper">2016</strong> - Sep <strong>2016</strong></span>
                    </time>
                    <h3>Summer intern student</h3>
                    <span class="education-company">Salk Institute</span>
                    <p>The cryo-EM data analysis of the allosteric activation of the SgrAI endonuclease</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->
