<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="clear-mrg">
            <h2 class="title-thin text-muted">Basic information</h2>

            <dl class="dl-horizontal clear-mrg">
                <!-- original dt class="text-upper" -->
                <p>I am a Ph.D. candidate pursuing Computational Biophysics in the Center for Theoretical Biological Physics at Rice University. I developed the force field of AWSEM-Suite and the framework of its web-based interface in the past three years. AWSEM-Suite is the latest version of AWSEM force field that designed from 2012.</p>

            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
