<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">Basic information</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">I am a Ph.D. candidate pursuing Computational Neuroscience in the Center for Theoretical Neuroscience and Zuckerman Mind Brain Behavior Institute at Columbia University. I develop neuroscience-inspired AI systems and apply ML to understand human brains (Neuro-AI).
I graduated from the University of Washington, Seattle (UW), as part of the NIH-funded Computational Neuroscience Training Program, with a B.S. in Applied & Computational Mathematics and a B.A. in Psychology with Honors. I still maintain close collaborations and affliations with Columbia Department of Systems Biology and UW Department of Applied Mathematics.</dt>

            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
