<section class="section brd-btm" id="profetional">
    <div class="row">
        <div class="clear-mrg">
            
            <h2 class="title-thin text-muted">Skills</h2>
            
            <div class="col-sm-6 clear-mrg">
                <h3 class="text-muted" style="font-size: 0.9em;">Molecular dynamics software</h3>

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">GROMACS</strong>
                </div>

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">LAMMPS</strong>
                </div>

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">Rosetta</strong>
                </div>

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">OpenMM</strong>
                </div>

            </div>
            
            <div class="col-sm-6 clear-mrg">
                <h3 class="text-muted" style="font-size: 0.9em;">Programming language</h3>
                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">Python</strong>
                </div>

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">MATLAB</strong>
                </div>

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">C/C++</strong>
                </div>

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">R</strong>
                </div>

            </div>
            
            <div class="col-sm-6 clear-mrg">
                <h3 class="text-muted" style="font-size: 0.9em;">Science topics</h3>
                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">Computational Biophysics</strong>
                </div>

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">Statistical Mechanics</strong>
                </div>

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">Chemical Kinetics</strong>
                </div>

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">Thermodynamics</strong>
                </div>

            </div>

        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
