<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">Education</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/rice_2.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                     <div class="ref-author">
                        <strong>Rice University</strong>
                        <span>2017 - Now | Ph.D. candidate in Computational Biophysics</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>As a Ph.D. candidate, work in the force field design and applications in molecular replacement.</p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
            
            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/zju.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>Zhejiang University</strong>
                        <span>2013 - 2017 | B.S in Biology</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>Graduate from Chu Kochen Honors College in Zhejiang University.</p>
                        <p>Mainly works in structure biology, X-ray crystallography and cryo-EM technology.</p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
