<section class="section brd-btm" id="publication">
    <h2 class="title-thin text-muted">Publications</h2>
    
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <!-- Reference format AMA -->
            <p>[5] Jin S, Miller MD, Chen M, Schafer NP, Lin X, Chen X, Phillips GN, Wolynes PG. Molecular-replacement phasing using predicted protein structures from AWSEM-Suite. IUCrJ. 2020;7(6):1168-1178. doi:10.1107/S2052252520013494</p>
            <p>[4] Jin S, Contessoto VG, Chen M, et al. AWSEM-Suite: a protein structure prediction server based on template-guided, coevolutionary-enhanced optimized folding landscapes. Nucleic Acids Res. 2020;48(W1):W25-W30. doi:10.1093/nar/gkaa356</p>
            <p>[3] Jin S, Chen M, Chen X, et al. Protein Structure Prediction in CASP13 Using AWSEM-Suite. J Chem Theory Comput. 2020;16(6):3977-3988. doi:10.1021/acs.jctc.0c00188</p>
            <p>[2] Lin X, Schafer NP, Lu W, et al. Forging tools for refining predicted protein structures. Proc Natl Acad Sci U S A. 2019;116(19):9400-9409. doi:10.1073/pnas.1900778116</p>
            <p>[1] Jin SK, Yang WX. Factors and pathways involved in capacitation: how are they regulated?. Oncotarget. 2017;8(2):3600-3627. doi:10.18632/oncotarget.12274</p>
        </div>
    </div>
        

<!--
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/PMP.png' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">PMP</h3>
            </div>
-->
        <!--</div><!-- .col-sm-6 -->


<!--
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/udemy.png' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">Udemy</h3>
            </div>
-->
        <!--</div><!-- .col-sm-6 -->

    <!--</div><!-- .row -->

</section><!-- .section -->
